@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    background: url(../img/fundo.png) no-repeat center center fixed;
    background-size: cover;
}

main{
    display: flex;
    width: 900px;
    height: 500px;
    background-color: rgb(15, 15, 15);
}

#calculo{
    width: 50%;
    height: 100%;
    background-color: rgb(128, 0, 0);
}


#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(15, 15, 15);

}


img{
    width: 500px;
}